POSTGRES_USER=postgres
POSTGRES_PASSWORD=TodoSecurePassword
POSTGRES_DB=SqeezDb

ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=SqeezDb;Username=postgres;Password=TodoSecurePassword
TokenKey=This_Is_My_Super_Secret_Key_That_Must_Be_At_Least_64_Characters_Long_123456789!
FrontendUrl=http://localhost:3000

SUPER_USER_EMAIL=test@example.com
SUPER_USER_DEFAULT_PASSWORD=YourSuperSecretPassword123!
SUPER_USER_FIRST_NAME=System
SUPER_USER_LAST_NAME=Administrator
SUPER_USER_DEPARTMENT=Administration
SUPER_USER_PHONE_NUMBER=

SmtpSettings__Server=localhost
SmtpSettings__Port=1025
SmtpSettings__SenderName=Sqeez App
SmtpSettings__SenderEmail=noreply@sqeez.org
SmtpSettings__Username=
SmtpSettings__Password=
SmtpSettings__UseStartTls=false
